# Node modules
node_modules/

# Package lock files
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# TypeScript build output
/dist

# OS / Editor files
.DS_Store

# Uncomment/Comment if you want to ignore/unignore VSCode settings
.vscode/ 
